/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(15, 15, 15);
}

/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 1rem;
    transition: all 0.3s ease;
    gap: 2rem;
    justify-content: center;
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(50, 50, 50, 0.60);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50, 50, 50, 0.60);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3 ease;
}

footer.relative {
    width: 100%;
    background-color: rgb(50, 50, 50);
}

.footer-desc {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    text-align: center;
}

/* CONTAINERS */
.section-container {
    height: 100%;
}

.hero {
    height: 100%;
    padding: 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .section-container {
        display: flex;
        flex-direction: column;
    }

    .hero {
        display: block;
        padding-top: 10%;
    }
}

/* WELCOME */
.welcome-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.welcome-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome-title {
    width: 100%;
}

.welcome-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .welcome-content {
        display: flex;
        flex-direction: column;
    }
}

/* EXPERIENCE */
.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1.25em;
}

.experience-title {
    width: 100%;
    text-align: center;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tech-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;
}

.tech-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

/* FLEX */
.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-content-center {
    justify-content: center;
}

.flex.justify-content-around {
    justify-content: space-around;
}

.flex.justify-content-between {
    justify-content: space-between;
}

.flex.justify-content-evenly {
    justify-content: space-evenly;
}