---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<section class="section-container" id="container_projects">
	<div class="hero">
		<h1>Projects</h1>
	</div>
</section>