---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<section class="section-container" id="container_welcome">
	<div class="hero">
		<div class="welcome-content">
			<div class="welcome-description">
				<h1 class="welcome-title">Full-Stack Developer <br> Lorenzo Gómez</h1>
				<p class="welcome-resume">
					¡Hola! Soy Lorenzo Gómez, desarrollador Full Stack con
					experiencia en el desarrollo de aplicaciones web y móviles.
					Me apasiona crear soluciones eficientes usando Angular, .NET
					Core, Flutter y Node.js, combinando rendimiento, diseño y
					funcionalidad. Actualmente estudio Ingeniería de Sistemas y
					disfruto aprender nuevas tecnologías que impulsen la
					innovación.
				</p>
			</div>
			<div class="welcome-image">
				<img
					src="https://www.shutterstock.com/image-vector/groovy-cartoon-test-paper-list-260nw-2527606945.jpg"
					alt="Error"
				/>
			</div>
		</div>
	</div>
</section>
